.shopping-field__input:checked ~ label {
  border-style: none;
  --tw-bg-opacity: 1;
  background-color: rgb(13 164 135 / var(--tw-bg-opacity));
  color: white;
}

.shopping-field__input:checked ~ label:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(21 213 176 / var(--tw-bg-opacity));
}

.other-details-input:checked ~ div{
  display : flex;
}

/* Swiper Styles */

.swiper-slide-thumb-active,
  .swiper-2 .swiper-slide:hover {
  opacity: 1;
  filter: none;
}